{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/book.css' %}" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <span class="logo">BookApp</span>
            <ul class="menu">
                <li>
                    <a href="{% url 'bookapp:book_list' %}">Lista książek</a>
                </li>
                <li>
                    <a href="{% url 'bookapp:add_new_book' %}">Dodaj nową książkę</a>
                </li>
                <li>
                    <a href="{% url 'bookapp:book_search' %}">Szukaj książki</a>
                </li>
                 <li>
                    <a href="{% url 'bookapp:test_json' %}">Dodaj książkę z API</a>
                </li>
            </ul>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>