{% extends "book/base.html" %}

{% block title %}Szukaj ksiązki{% endblock %}

{% block content %}

<h1>Szukaj książki</h1>
<p><a href="{% url 'bookapp:book_search_by_title' %}">Szukaj po tytule lub autorze</a></p>
<p><a href="{% url 'bookapp:book_search_by_date' %}">Szukaj po dacie wydanie</a></p>
{% endblock %}