{% extends "book/base.html" %}

{% block title %}Lista książke{% endblock %}

{% block content %}
<style>
#book_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#book_table td, #book_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#book_table tr:nth-child(even){background-color: #f2f2f2;}

#book_table tr:hover {background-color: #ddd;}

#book_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #12c064;
  color: white;
}
</style>
<h1>Lista kiążek</h1>
<table id="book_table">
   <tr>
      <th>Tytuł</th> <th>Autor</th><th>Numer ISBN</th><th>Liczba stron</th><th>Data wydania</th><th>Link</th><th>Język</th><th>Edycja</th>
   </tr>

{% for book in books %}
<tr>
    <td>{{ book.title}}</td> <td>{{ book.author }}</td><td>{{ book.isbnNumber }}</td><td>{{ book.pageCount }}</td>
    <td>{{ book.published }}</td><td><a href="{{ book.imageLinks }}">Link do okładki</a> </td>
    <td>{{ book.language }}</td><td><a href="{{ book.get_absolute_url }}">Edytuj</a> </td>
</tr>
{% endfor %}
</table>
{% endblock %}


