{% extends "book/base.html" %}

{% block title %}Usuń{% endblock %}

{% block content %}
    {% if value %}
        <p>Książka została usunięta</p>
        <a href="{% url 'bookapp:book_list' %}">Wróć do zbioru książek</a>
    {% else %}
        <h1>Usuń książkę ze zbioru"</h1>
        <p>Czy na pewno chesz usunąć książke {{ book.title }}</p>
        <form action="" method="post">
            {% csrf_token %}
            <p><input type="submit" value="Tak usuń"></p>
        </form>
    {% endif %}
{% endblock %}