{% extends "book/base.html" %}

{% block title %}Edycja ksiązki{% endblock %}

{% block content %}
    <h1>Edycja książki "{{ book.title }}"</h1>
    {% if value %}
        <p>Dane zostały zmienione</p>
        <p><a href="{% url 'bookapp:book_list' %}">Wróć do zbioru książek</a></p>
    {% else %}
        <p>Dane ksiażki możesz zmienić przy pomocy poniższego formularza</p>
        <form action="" method="post">
            {{ edit_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Zapisz zmiany"></p>
            <a href="{{ book.delete_book }}">Usuń</a>
        </form>
    {% endif %}
{% endblock %}