{% extends "book/base.html" %}

{% block title %}Dodaj książkę{% endblock %}

{% block content %}

<h1>Dodaj ksiązkię z API Google</h1>
    {% if value %}
    <p>Książka została dodana do zbioru</p>
    {% else %}
    <form method="get">
        {{ form.as_p }}
        <input type="submit" value="Dodaj">
    </form>
    {% endif %}
{% endblock %}