{% extends "book/base.html" %}

{% block title %}Nowa książka{% endblock %}

{% block content %}

    {% if value %}
        <h2>Książka została dodana</h2>
        <a href="{% url 'bookapp:book_list' %}">Wróć do zbioru książek</a>
    {% else %}
        <h2>Dodaj nową książkę</h2>
        <form action="" method="post">
            {{ book_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Dodaj książkę"></p>
        </form>
    {% endif %}
    <a href="{% url 'bookapp:book_list' %}">Wróć do zbioru książek</a>
{% endblock %}